<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DigitMall</title>
    <link rel="stylesheet" type="text/css" href="../../CSS/list/wishlist.css">
    <link rel="stylesheet" href="../../CSS/list/xzoom.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>

<!-- HEADER BEGIN -->
<header>
    <div class="container">
        <div class="header-language">
            <ul>
                <li><a href="#">Eng</a></li>
                <li><a href="#">Aze</a></li>
                <li><a href="#">Rus</a></li>
            </ul>
        </div>

        <div class="header-login">
            <button id="login-button" onclick="location.href='login.html'">Log in</button>
            <button id="signup-button">Sign Up</button>
        </div>
        <div class="header-search">
            <input type="text" placeholder="Search"><i class="fas fa-search"></i>
        </div>
    </div>
</header>

<!-- HEADER END -->

<!-- Header2 (Logo, Cart) SECTION BEGIN -->
<section>
    <div class="container">
        <div id="header2">

            <div id = "logo-div">
                <img src="../../IMG/logo2.png" height="35px" width="150px" id="logo">
            </div>
            <div class="user">
                <i class="far fa-user"></i>
            </div>
            <div class="heart">
                <i class="far fa-heart"></i>
            </div>
            <div class="notify">
                <i class="far fa-bell"></i>
            </div>
            <div class="cart">
                <img id="cart" src="../../IMG/cart3.png" width="28px" height="28px">
            </div>

        </div>
    </div>
</section>

<!-- Header2 (Logo, Cart) SECTION ENDS -->

<!-- Body SECTION BEGIN -->
<div class="container2">
<div class="favorites">
    <p> Your <i>Favorite products</i> will be shown here for 24 hours</p>
    <div class="products-part">
        <div class="product">
            <div class="shopping-div">
                <div class="shopping-photos">
                    <div class="shopping-img">
                        <img class="xzoom" src="../../IMG/boy.jpg" xoriginal="../../IMG/boy.jpg"/>

                        <div class="xzoom-thumbs">
                            <a href="../../IMG/boy.jpg">
                                <img class="xzoom-gallery" width="80" src="../../IMG/boy.jpg">
                            </a>
                            <a href="../../IMG/boy.jpg">
                                <img class="xzoom-gallery" width="80" src="../../IMG/boy.jpg">
                            </a>
                            <a href="../../IMG/boy.jpg">
                                <img class="xzoom-gallery" width="80" src="../../IMG/boy.jpg">
                            </a>
                            <a href="../../IMG/boy.jpg">
                                <img class="xzoom-gallery" width="80" src="../../IMG/boy.jpg">
                            </a>
                        </div>
                    </div>
                </div>
        </div>

            <!-- Shopping-detail part BEGIN -->
            <div class="shopping-details">
                <div class="product-detail-div">
                    <p> Product Name </p>
                </div>
                <div class="product-detail-div">
                    <p> Price: $60 </p>
                </div>
                <div class="product-detail-div">
                    <p> Color:  </p>
                    <ul class="product-color">
                        <li>
                            <input type="radio" name="color" id="red"/>
                            <label for="red" style="background-color:red;"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#A2C2C9"/>
                            <label for="#A2C2C9" style="background-color:#00134d;"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#EFDBD4"/>
                            <label for="#EFDBD4" style="background-color:#EFDBD4;"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#2196F3"/>
                            <label for="#2196F3" style="background-color:#2196F3;"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#4CAF50"/>
                            <label for="#4CAF50" style="background-color:#4CAF50;"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#00BCD4" checked="checked"/>
                            <label for="#00BCD4" style="background-color:#00BCD4;"></label>
                        </li>
                    </ul>
                </div>
                <div class="product-detail-div">
                    <p> Size:  </p>
                    <label>
                        <select class="size">
                            <option value="">Choose size</option>
                            <option value="xs">XS</option>
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                            <option value="xxl">XXL</option>
                            <option value="xxxl">XXXL</option>
                        </select>
                    </label>
                </div>
                <div class="product-button">
                    <button> Add to Cart</button>
                </div>
            </div>

</div>

        <div class="product">
            <div class="shopping-div">
                <div class="shopping-photos">
                    <div class="shopping-img">
                        <img class="xzoom" src="../../IMG/boy.jpg" xoriginal="../../IMG/boy.jpg"/>

                        <div class="xzoom-thumbs">
                            <a href="../../IMG/boy.jpg">
                                <img class="xzoom-gallery" width="80" src="../../IMG/boy.jpg">
                            </a>
                            <a href="../../IMG/boy.jpg">
                                <img class="xzoom-gallery" width="80" src="../../IMG/boy.jpg">
                            </a>
                            <a href="../../IMG/boy.jpg">
                                <img class="xzoom-gallery" width="80" src="../../IMG/boy.jpg">
                            </a>
                            <a href="../../IMG/boy.jpg">
                                <img class="xzoom-gallery" width="80" src="../../IMG/boy.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Shopping-detail part BEGIN -->
            <div class="shopping-details">
                <div class="product-detail-div">
                    <p class="title"> Product Name </p>
                </div>
                <div class="product-detail-div">
                    <p class="price">Price: $60</p>
                </div>
                <div class="product-detail-div">
                    <p> Color:  </p>
                    <ul class="product-color">
                        <li>
                            <input type="radio" name="product2" id="1"/>
                            <label for="red" style="background-color:red;"></label>
                        </li>
                        <li>
                            <input type="radio" name="product2" id="2"/>
                            <label for="#A2C2C9" style="background-color:#00134d;"></label>
                        </li>
                        <li>
                            <input type="radio" name="product2" id="3"/>
                            <label for="#EFDBD4" style="background-color:#EFDBD4;"></label>
                        </li>
                        <li>
                            <input type="radio" name="product2" id="4"/>
                            <label for="#2196F3" style="background-color:#2196F3;"></label>
                        </li>
                        <li>
                            <input type="radio" name="product2" id="5"/>
                            <label for="#4CAF50" style="background-color:#4CAF50;"></label>
                        </li>
                        <li>
                            <input type="radio" name="product2" id="6" checked="checked"/>
                            <label for="#00BCD4" style="background-color:#00BCD4;"></label>
                        </li>
                    </ul>
                </div>
                <div class="product-detail-div">
                    <p> Size:  </p>
                    <label>
                        <select class="size">
                            <option value="">Choose size</option>
                            <option value="xs">XS</option>
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                            <option value="xxl">XXL</option>
                            <option value="xxxl">XXXL</option>
                        </select>
                    </label>
                </div>
                <div class="product-button">
                    <button> Add to Cart</button>
                </div>
            </div>

        </div>
</div>
    <div class="cart-part">
        <table class="cart-list" v-if="cart.length">
            <thead>
            <tr>
                <th class="head-title">Product</th>
                <th class="head-price">Price</th>
                <th class="head-quantity">Quantity</th>
                <th class="head-total">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr class="cart-item" v-for="(item, id) in cart" :key="'id-' + id">
                <td>
                    <h4 class="title">Product Name</h4>
                </td>
                <td>
                    <div class="price"><p id="price">60</p></div>
                </td>
                <td>
                    <div class="quantity">
                        <img id="minus" src="../../IMG/minus.svg" width="15px" height="15px">
                        <label for="quant"></label><input id="quant" name="quant" type="text" value=0 size=1>
                        <img id="plus" src="../../IMG/plus1.svg" width="15px" height="15px">
                    </div>
                </td>
                <td>
                    <div class="total"> <input id="total" type="text" value="0"> </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3">
                    <!--<h4 class="total-title">Total: </h4>-->
                </th>
                <th> </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</div>
<!-- Body part END -->

<!-- Footer part START -->
<footer>
    <div class="container">
        <div>
            <p>Customer Service</p>
            <h5>Contact Us</h5>
            <h5>Order and Shipping</h5>
            <h5>Tax Free Refund</h5>
            <h5>Return and Refunds</h5>
            <h5>My account</h5>
        </div>
        <div>
            <p>About</p>
            <h5>About us</h5>
            <h5>DM Customer Promise</h5>
            <h5>Careers</h5>
        </div>
        <div>
            <p>Legal
            <h5>Terms and Conditions</h5>
            <h5>Privacy and Cookie Policy</h5>
        </div>
        <div>
            <p>Partnership</p>
            <h5>Become Our Partner</h5>
            <p class="help">Help</p>
            <h5>FAQ</h5>
        </div>
        <div class="last-div">
            <p>Payment Methods</p>
            <div class="visa">
                <i class="fab fa-cc-visa"></i>
            </div>
            <div class="master-card">
                <i class="fab fa-cc-mastercard"></i>
            </div>
            <div class="paypal">
                <i class="fab fa-cc-paypal"></i>
            </div>
            <div class="stripe">
                <i class="fab fa-cc-stripe"></i>
            </div>
        </div>
    </div>
</footer>

<!-- Footer part END -->
    <script src="../../JS/xzoom.js"></script>
    <script type="text/javascript">

        /// ZOOM of Product
        $(function() {
            $(".xzoom, .xzoom-gallery").xzoom({tint: '#333', Xoffset: 15});
        });

        /// Quantity of Product
        $(document).ready(function() {
            let qty = 0;
            let price = 60;
            let total = document.getElementById('total').value;
            $("#plus").click(function() {
                qty ++;
                $("#quant").val(qty);
                document.getElementById('total').value = qty*price;
            });
            $("#minus").click(function() {
                let total = document.getElementById('total').value = qty*price;
                if (qty > 0) {
                    qty --;
                    $("#quant").val(qty);
                    document.getElementById('total').value = total/qty;
                }
            });




            $("#info").click(function() {
                $("#pop").show("fast");
                $("#main").hide("fast");
            });

            $("#close").click(function() {
                $("#pop").hide("fast");
                $("#main").show("fast");
            })

        });

    // /**************************************
    //  VUE INSTANCE
    //  **************************************/
    // new Vue({
    //     el: '.cart-part',
    //     data() {
    //         return {
    //             // products: [
    //             //     { id: 1, title: 'Product One', price: 9.99 },
    //             //     { id: 2, title: 'Product Two', price: 12.99 },
    //             //     { id: 3, title: 'Product Three', price: 8.00 },
    //             //     { id: 4, title: 'Product Four', price: 10.50 }
    //             // ],
    //             cart: [],
    //             total: 0
    //         };
    //     },
    //     methods: {
    //         addItem(prod){
    //             // Increment total price
    //             this.total += prod.price;
    //
    //             let inCart = false;
    //             // Update quantity if the item is already in the cart
    //             for(let i = 0; i < this.cart.length; i++){
    //                 if(this.cart[i].id === prod.id){
    //                     inCart = true;
    //                     this.cart[i].quantity++;
    //                     break;
    //                 }
    //             }
    //             // Add item if not already in the cart
    //             if(! inCart){
    //                 this.cart.push({
    //                     id: prod.id,
    //                     title: prod.title,
    //                     price: prod.price,
    //                     quantity: 1
    //                 });
    //             }
    //         },
    //         add(item){
    //             this.total += item.price;
    //             item.quantity++;
    //         },
    //         sub(item){
    //             this.total -= item.price;
    //             if(item.quantity > 1){
    //                 item.quantity--;
    //             } else{
    //                 for( let i = 0; i < this.cart.length; i++){
    //                     if(this.cart[i].id === item.id){
    //                         this.cart.splice(i, 1);
    //                         break;
    //                     }
    //                 }
    //             }
    //         }
    //     },
    //     filters: {
    //         currency(price){
    //             return '€' + price.toFixed(2);
    //         }
    //     }
    // });

</script>
</body>
</html>